<section class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4>Register Your Spot Now</h4>
                <p>Just enter your name & email to secure your spot on this webinar</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" aria-describedby="textHelp" required
                            [(ngModel)]="name" name="name" #nameField="ngModel">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required
                            [(ngModel)]="email" name="email" #emailField="ngModel">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">How did you hear about us?</label>
                        <div class="row">
                            <div class="col">
                                <div class="form-check">
                                    <img src="../../../assets/img/socialMedia.svg" width="50" alt="">
                                    <br />
                                    <input class="form-check-input" type="radio" name="howDidYouHear"
                                        id="socialMedia" value="Social Media" [(ngModel)]="howDidYouHear">
                                    <label class="form-check-label" for="socialMedia">
                                        Social Media
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <img src="../../../assets/img/referral.svg" width="50" alt="">
                                <br />
                                <input class="form-check-input" type="radio" name="howDidYouHear"
                                    id="referral" value="Referral" [(ngModel)]="howDidYouHear"> 
                                <label class="form-check-label" for="referral">
                                    &nbsp; Referral
                                </label>
                            </div>
                            <div class="col">
                                <img src="../../../assets/img/localNetwork.svg" width="50" alt="">
                                <br />
                                <input class="form-check-input" type="radio" name="howDidYouHear"
                                    id="localNetwork" value="Local Network" [(ngModel)]="howDidYouHear"> 
                                <label class="form-check-label" for="localNetwork">
                                    &nbsp;  Local Network 
                                </label>
                            </div>
                            <div class="col">
                                <img src="../../../assets/img/organic.svg" width="50" alt="">
                                <br />
                                <input class="form-check-input" type="radio" name="howDidYouHear"
                                    id="organic" value="Organic" [(ngModel)]="howDidYouHear"> 
                                <label class="form-check-label" for="organic">
                                    &nbsp; Organic
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="pickupTime" class="form-label">Pick up a time</label>
                        <select class="form-select" aria-label="Default select example" id="pickupTime"
                            [(ngModel)]="selectedTime" name="pickupTime" required>
                            <option *ngFor="let time of pickupTimes" [value]="time.value">{{ time.label }}</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="timezone" class="form-label">Timezone</label>
                        <select class="form-select" aria-label="Default select example" id="timezone"
                            [(ngModel)]="selectedTimezone" name="timezone" required>
                            <option *ngFor="let tz of timezones" [value]="tz.value">{{ tz.label }}</option>
                        </select>
                    </div>

                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-6">
                            <button class="btn btn-danger col-12 btn-lg" type="submit"
                                [disabled]="!registrationForm.valid">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
